<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- BLOPUP -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <application
        android:name=".openmrs.application.OpenMRS"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_blopup"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:localeConfig="@xml/locales_config"
        android:theme="@style/AppThemeOrig">
        <activity
            android:name=".blopup.ui.takingvitals.VitalsActivity"
            android:exported="false"
            android:label="@string/title_activity_vitals"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".openmrs.activities.community.contact.AboutActivity"
            android:label="@string/action_about_activity"
            android:theme="@style/AppThemeOrig" />
        <activity
            android:name=".openmrs.activities.introduction.SplashActivity"
            android:exported="true"
            android:noHistory="true"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="buildVersion"
            android:value="0" />

        <activity
            android:name=".openmrs.activities.dashboard.DashboardActivity"
            android:theme="@style/AppThemeOrig" />
        <activity
            android:name=".openmrs.activities.introduction.IntroActivity"
            android:label="Introduction"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".openmrs.activities.visitdashboard.TreatmentActivity"
            android:label="TreatmentActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".openmrs.activities.visitdashboard.VisitDashboardActivity" />
        </activity>
        <activity
            android:name=".openmrs.activities.syncedpatients.SyncedPatientsActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:exported="false"
            android:label="@string/action_synced_patients"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeOrig"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upc.openmrs.activities.dashboard.DashboardActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".openmrs.activities.login.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".openmrs.activities.settings.SettingsActivity"
            android:configChanges="locale|orientation"
            android:label="@string/action_settings"
            android:launchMode="singleTop"
            android:parentActivityName=".openmrs.activities.dashboard.DashboardActivity"
            android:theme="@style/AppThemeOrig" />
        <activity
            android:name=".openmrs.activities.patientdashboard.PatientDashboardActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeOrig">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upc.openmrs.activities.syncedpatients.SyncedPatientsActivity" />
        </activity>
        <activity
            android:name=".openmrs.activities.visitdashboard.VisitDashboardActivity"
            android:label="@string/visit_dashboard_label"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeOrig" />
        <activity
            android:name=".openmrs.activities.addeditpatient.AddEditPatientActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/action_register_patient"
            android:parentActivityName=".openmrs.activities.addeditpatient.AddEditPatientActivity"
            android:theme="@style/AppThemeOrig"
            android:windowSoftInputMode="adjustPan">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="edu.upc.openmrs.activities.addeditpatient.AddEditPatientActivity" />
        </activity>

        <service
            android:name=".openmrs.services.FormListService"
            android:enabled="true" />
        <service
            android:name=".openmrs.services.AuthenticateCheckService"
            android:enabled="true" />
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>

        <activity
            android:name=".openmrs.activities.patientdashboard.charts.ChartsViewActivity"
            android:configChanges="orientation|keyboardHidden"
            android:parentActivityName=".openmrs.activities.patientdashboard.PatientDashboardActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>